/*------------------------------------------------------------------
[Master Stylesheet]

Project:    Project Name
Version:    1.0
Last change:    24/03/17 [fixed Float bug, vf]
Author Name: Author Name
Primary use:    Project Type
-------------------------------------------------------------------*/


/*------------------------------------------------------------------
[Table of contents]

1. Body
2.
-------------------------------------------------------------------*/

/*
==========================================
    Reset Css
==========================================
*/
ul {
    margin: 0;
    padding: 0;
}
ul li {
    list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}
.section-padding{
	padding: 80px 0;
}
.section-bg-1{
    background-image: url(../img/bg1.jpg);
}
.single-service-box-1{background-image: url(../img/cr.jpg);}
.single-service-box-2{background-image: url(../img/cr2.jpg);}
.single-service-box-3{background-image: url(../img/cr3.jpg);}
.single-service-box-4{background-image: url(../img/cr4.jpg);}
.single-service-box-5{background-image: url(../img/cr5.jpg);}
.single-service-box-6{background-image: url(../img/cr6.jpg);}
.single-service-box-7{background-image: url(../img/cr.jpg);}
.single-service-box-8{background-image: url(../img/cr2.jpg);}

.section-padding {
    position: relative;
    z-index: 2;
    background-size: cover;
    background-position: center;
}

.section-overlay:after, .single-service-box:after {
    background: #ffce42;
    left: 0;
    top: 0;
    content: "";
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: .8;
}

.single-service-box {
    position: relative;
    width: 100%;
    height: 200px;
    display: table;
    z-index: 1;
    margin-bottom: 30px;
    text-align: center;
    background-size: 100%;
    background-position: center;
    background-color: #002732;
    transition: .3s;
}

.service-box-wrap {
    display: table-cell;
    vertical-align: middle;
    padding: 20px;
    text-transform: uppercase;
}

.service-box-wrap h2 {
    color: #fff;
}

.single-service-box:after {
    background-color: #002732;
}

.service-box-wrap:hover {
    background-size: 130%;
}

.single-service-box:hover {
    background-size: 130%;
}

.single-service-box:hover {
    background-size: 250%;
}

.single-service-box:hover:after {
    opacity: 0.3;
}