*{
	margin: 0;
	padding: 0;
}
.container{
	width: 942px;
	margin: 0 auto;
}
body{
	font-family: 'gotham bold', sans-serif;
}
.header-area{
	background: url(img/banner.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: scroll;
	background-position: 0 0;
}
.logo{
	float: left;
	width: 15%;
}
.main-menu{
	float: left;
	width: 63%;
	
}
.social-media{
	float: left;
	width: 15%;

}
.header-area-top{
	overflow: hidden;
	padding-top: 22px;
}
.main-menu ul {
    list-style: none;
    text-align: center;
}

.main-menu ul li {
    display: inline-block;
}

.main-menu ul li a {
    color: #fff;
    text-decoration: none;
    padding: 25px 20px;
    font-size: 14px;
    display: block;
    font-weight: 400;
    font-family: 'gotham bold',sans-serif;
}
.main-menu ul li a:hover{
    border-bottom: 5px solid #11749e;
}
.social-media {
	padding: 25px 5px;
}
.social-media a{
	text-align: center;
	padding: 10px 5px;
	font-size: 14px;
	color: #fff;
}
.header-area-bottom{
	padding: 210px 0 160px;
	text-align: center;
	color: #ffffff;
}
.header-area-bottom h2{
	text-transform: uppercase;
	font-size: 100px;
	font-weight: 700;

}
.header-area-bottom p {
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 100px;
    color: #21546a;
    letter-spacing: 10px;
}
.header-area-bottom h6 {
    font-size: 20px;

}

.section-header {
    text-align: center;
}
/*services-area*/
.service-area {
    background-color: #21546a;
    padding: 170px 0 120px;
}
.section-header w {
    position: relative;
    width: 10%;
}

.section-header h2 {
    position: absolute;
    margin-top: -110px;
    left: -2px;
    width: 100%;
    text-transform: uppercase;
    font-weight: 700;
    color: #fff;
    font-size: 37px;
}
.single-service {
    float: left;
    width: 23%;
    margin-right: 2%;
    text-align: center;
}

.single-service:last-child {
    margin-right: 0%;
}

.services {
    overflow: hidden;
    padding-top: 140px;
}
.single-service span {
    border-radius: 100%;
    border: 3px solid #2e85aa;
    background: #2e85aa;
    width: 135px;
    height: 135px;
    display: inline-block;
    line-height: 160px;
}

.single-service h3 {
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    line-height: 75px;
    text-transform: uppercase;
}

.single-service p {
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    text-align: center;
}
/*desk-area*/
.desk-area-one{
    overflow: hidden;
}
.desk-area-one .text-area-one{
    float: left;
    width: 50%;
    overflow: hidden;
    
}
.desk-area-one .image-area-one{
    width: 50%;
    float: right;
}
.desk-area-two{
    overflow: hidden;
}
.desk-area-two .text-area-two{
    float: right;
    width: 50%;

}
.desk-area-two .image-area-two{
    width: 50%;
    float: left;
    overflow: hidden;
}
.image-area-two .image-area-one{
    width: 100%;
    display: block;
}
/*blog-area*/
.blog-header b {
    position: relative;
    width: 10%;
}

.blog-header h2 {
    position: absolute;
    margin-top: -110px;
    left: -2px;
    width: 100%;
    text-transform: uppercase;
    font-weight: 700;
    color: #222222;
    font-size: 37px;
}
.blog-area {
    overflow: hidden;
    padding: 160px 0 110px;
}

.blogs {
    float: left;
}

.single-blog {
    width: 23%;
    margin: 1%;
    float: left;
}

.single-blog:last-child {
    margin: 0px;
}
.blog-header {
    text-align: center;
    margin-bottom: 80px;
}

.blog-header h6 {
    position: relative;
    font-size: 180px;
    font-weight: 700;
    color: #ddd;
    text-transform: uppercase;
}
.blog-header h2 {
    position: absolute;
}

/*article-area*/
.article-area {
    overflow: hidden;
    background: #11749e;
}

.article-item-list {
    float: left;
    width: 46%;
    padding: 150px 0 110px;
    margin-right: 4%
}
.article-item-list:last-child {
    margin-right: 0px;
}
.article-item-list img {
    float: left;
    width: 70px;
    height: 70px;
    width: 20%;
    overflow: hidden;
}
.article-item-list p{
    color: #fff;
    font-size: 16px;
    margin-left: 5px;
    width:80%;
    overflow: hidden;
    
}
/*about-area*/
.about-area{

    background: url(img/bg-about.jpg);
    padding: 95px 0 100px;
    background-size: cover;
    background-position: 0 0;
    background-repeat: no-repeat;



}
.about-area-list{
    overflow: hidden;
}
.about-area-single{
    float: left;
    width: 50%;
    color: #fff;


}
.about-area-single .one {
    background-color: #11749e;
    line-height: 20px;
}

.about-area-single .three {
    background-color: #11749e;
}

.about-area-single .two {
    background-color: #11749e;
}
/*team-area*/
.team-area {
    padding: 65px 0 105px;
    overflow: hidden;
    text-align: center;
}
.team-header img {
    position: relative;
    width: 10%;
}

.team-header h2 {
    position: absolute;
    margin-top: -110px;
    left: -2px;
    width: 100%;
    text-transform: uppercase;
    font-weight: 700;
    color: #222222;
    font-size: 37px;
}

.team-area-single {
    float: left;
    width: 23%;
    margin-right: 2%;
}

.team-area-single:last-child {
    margin-right: 0;
}
/*submit-area*/
.submit-area{
    background: url(img/contact-bg.jpg);
    padding: 145px 0 100px;
    background-size: cover;
    background-position: center;
   

}

.submit-header{
    text-align: center;
    margin-bottom: 65px;

}
.submit-header img{
    width: 10%;
    position: relative;
}
.submit-header h2 {
    position: absolute;
    font-size: 13px;
    width: 100%;
    text-transform: uppercase;
    font-weight: 700;
    color: #fff;
    left: -7px;
    margin-top: -82px;
}
.submit-btn a{
    display: inline-block;
    background: #11749e;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 18px;
    padding: 25px 24px;
    border-radius: 3px solid;
}
.form-area-full{
    text-align: center;
    color: #fff;
}
.submit-header h3 {
    position: relative;
    font-size: 180px;
    font-weight: 700;
    color: #ddd;
    text-transform: uppercase;
}
/*map-area*/
.map-area{
    overflow: hidden;
    
}
.map-area img{
    width: 100%;
    display: block;
}
/*footer-area*/
.footer-area{
    background: #222222;
    padding: 45px 0;
    overflow: hidden;
}
.copyright{
    display: inline-block;

}
.copyright p{
    color: #fff;
    font-size: 13px;
}
.design{
    float: right;
    overflow: hidden;
}
.design img{
    width: 94%;
}